@import '../../variables';

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }

#loaderWrapper,
#SuccesWrapper {
 flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  background-color: #f0f8ff;
  display: none;
}

.success {
  color: green;
  font-size: 1vw;
 
}

.errorAwesomeIcon {
  font-size: 0.9vw;
  padding-right: 10px;
  padding-left: 5px;
}

.errMsg {
  padding:  2px;
  margin: 4px 0;
  font-size: 0.9vw;
  color: #ce0000;
  background-color: #ff000014;
  border-radius: 4px;
  width: 100%;
  letter-spacing: 1px;
  font-style: italic;
}

.showHideLoader {
  display: flex;
  opacity: 1;
  transition: all 0.35s;
}

.errMsgAligner {
 padding: 5px 0 ;
  text-align: left;
  min-height: 1px;
}

.sendOnotherMsgBtn {
  background-color: #2b9b1f;
  border: 1px solid green;
  padding: 12px 7px;
  border-radius: 7px;
  cursor: pointer;
  color: #fff;
  font-weight: bold;
}

.sendOnotherMsgAwasomeIcon {
  padding-left: 5px;
}

.successMsgAwesomeIcon {
  padding-right: 8px;
  transform: rotate(15deg);
}

  /* To center the spinner*/
  .pos-center {
    position: fixed;
    top: calc(50% - 40px);
    left: calc(50% - 40px);
  }
  
  .loader{
    border: 7px solid #9eddff;
    border-top: 7px solid #3498db;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
  }

.formFullNameWrapper {
  flex: 10;
    display: flex;
}

.formFullNameWrapper > input,
.formFullNameWrapper > textarea {
    flex: 1;
    margin: 0;
    border: none !important;
    border-right: 1px solid #ccc !important;
    border-radius: 0;
}

.formFullNameWrapper > textarea {
    min-height: 120px;
}

.formFullNameWrapper > input::placeholder,
.formFullNameWrapper > textarea::placeholder  {
    color: #ccc;
}

.ContactFormSubmitBtn {
    background-color: #2b9b1f !important;
    font-weight: bold;
    width: 100%;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
//Animation
@keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .NameSectionWrapper {
    width: 100%;
    display: flex;
    margin-bottom: 10px;
 
  }

  .NameLabel {
    flex: 1;
    padding: 6px 12px;
    color: #10D8E0;
    text-align: left;
  }

  .faEnvelopeSendMsg {
    margin-right: 10px;
    transform: rotate(1deg);
  }



 

  .emailFormWrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .emailForm {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  .messageWraper {
    flex: 1;
    .textAreaWrapper , textarea {
      height: 100%;
      flex: 10;
    }
  }



  @include forSmallDesktop {
    .errMsg,
    .success{
      font-size: 1.2vw;
    }
  }
  
  @include for-tablet-design {
    .errMsg,
    .success{
      font-size: 1.7vw;
    }
  }
  
  @include for-mobile-design {
    .errMsg,
    .success{
      font-size: 3vw;
    }
  }

  