@import '../../variables';
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@1,200&display=swap');
 

.MainLogo {
  z-index: 2;
  height: 50px;
  width: 50px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 5px;
  cursor: pointer;
}


.navBarLinksWrapper > a {
  font-size: 0.9vw;
  text-decoration: none;
  color: #444;
  font-weight: bold;
  margin-right: 20px;
  cursor: pointer;
}



.hidden {
  display: none;
}

.MenuShowHideBtn {
  font-weight: bold;
  font-size: 4vw;
  color: #dfffff;
  cursor: pointer;
  display: none;
  padding: 20px 10px 20px 20px;
}

.active {
  color: #004e61 !important;
}

  .NavBarWrapper { 
  z-index: 99;
  // transition: 0.35s;
  min-height: 75px;
  position: -webkit-sticky;
  position: sticky;
  top: -1px;
  display: flex;
  align-items: center;
  
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 1) 1%, rgba(175, 193, 186, 1) 99%);   
 
}

.caretForMobileMenu {
  display: none;
}

.navBarLinksWrapper {
  padding-left: 15%;
}

.not-pinned {
  min-height: 60px !important;
   z-index: 999;

  background: linear-gradient(178deg, rgb(255, 255, 255) 1%, rgb(175, 193, 186) 99%); 
  .navBarLinksWrapper > a {

  }
  

  & .MainLogo {
    height: 46px;
     
  }
}

.NavBar {
  padding: 0px $base-padding;
  height: 100%;
  border-radius: 0 0 5px 5px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center; 
  width: 100%;
}


@include forSmallDesktop {
  .NavBar {
       padding: 0 $small-display-padding ;
  }

  .CompanyName,
  .navBarLinksWrapper > a  {
    font-size: 1.1vw;
  }


}

@include for-tablet-design {
  .NavBar {
       padding: 0 $base-padding-tablet;
  }
  .navBarLinksWrapper > a  {
    font-size: 1.2vw;
  }

}

@include for-mobile-design {
  .NavBar  {
       padding: 0 $base-padding-mobile ;
       bottom: 0;
       
  }
 
  .caretForMobileMenu {
    display: inline-block;
    color: #036400;
    padding-right: 10px;
    font-size: 4vw;
  }

  .CompanyName,
  .navBarLinksWrapper > a {
    font-size: 3vw;
    align-items: center;
    display: flex !important;
  }
}


@keyframes slideInFromTop{
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

.logoWrapper {
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: center;
}



//MOBILE
@include for-mobile-design{
  .DesktopLogo {
    display: none;
  }
  
  .navBarLinksWrapper >a:last-of-type::before {
    content: none;
  }

  .MenuShowHideBtn .logoWrapper {
    flex: 1;
  }
  .logoWrapper{
    justify-content: normal !important;
    padding-left: 10%;
  }

  .MainLogo {
    height: 35px;
    width: 35px;
   
  }
  .NavBar {
    justify-content: normal !important;
  }

  .NavBar .MenuShowHideBtn {
    color: #fafafa;
    display: flex;
    background-color: #212b35;
    min-height: 70px;
    svg {
      padding-right: 30px;
    }
  }

  .navBarLinksWrapper  {
    flex: 1 !important;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
  
  .NavBar {
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 99;
    animation: 0.65s ease-out 0s 1 slideInFromTop;
    position: fixed;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    display: none;
    padding: 0;
    background-color:#e2e9ff;
    min-height: 100vh
  }


  .NavBar > a {
    text-align: left;
    background-color: #7e7e7e;
    width: 100%;
    margin-bottom: 5px;
    padding: 10px 15px;

  }

  .MenuShowHideBtn {
    display: flex;
    width: 100%;
    align-items: center;
  }
 
  .NavBarWrapper {
      padding-right: 30px;
      text-align: right;
      background-color: #212b35;
      min-height: 75px ;
  }

  .navBarLinksWrapper {
    padding-left: 0;
    text-align: left;
    > a {
      font-size: 3.5vw;
      text-decoration: none;
      color: #000000;
      font-weight: bold;
      margin: 10% 0;
      cursor: pointer;
      display: block;

      &::after {
        content: '';
      }
    }
  }
}

