@import '../../variables';

.infoBar {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    background: transparent;
    border-radius: 20px 0 0 20px;
    box-shadow: 0 0 10px #060606;
    color: #000;
    background: #eaeaeae3;
}
.solarWorksSectionWrapper {
    overflow-x: hidden;
    border-radius: 5px;
    min-height: 70vh;
    background-color: #fff;
    background-size: cover;
    display: flex;
    padding: 2.5% $base-padding 2.5% $base-padding;
    text-align: left;
}

.solarPowerWorks {
    flex: 1;
    padding: 20px 20px 0 0 ;
}

.solarPowerWorksImg {
    background-size: cover;
    background-repeat: no-repeat;
    flex: 1;
    border-radius: 7px;
    margin: 30px 20px 60px 0 ;
    box-shadow: 0 0 10px #000;
}

.worksWeDoContainer {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
}

#solarWorksWeDoContainer {
    background: #efefef96;
    box-shadow: 0 0 2px #060606;
    padding: 30px;
    
    flex: 5;
    display: flex;
    // flex-direction: column;
    visibility: hidden;
}

.SolarPowerWorksHeader {
    width: 100%;
    font-size: 1.3vw;
    color: #191d29;
    text-shadow: 0.5px 0.5px rgb(0 153 154);
    text-align: center;
    letter-spacing: 0.5px;
    margin: 10px 0 ;
    font-style: italic;
    
}

.solarWorksTransit {
    animation: 1s ease-out 0s 1 SolarWorksWeDoTransit;
    visibility:visible !important;
}


 
  @include forSmallDesktop {
    .solarWorksSectionWrapper {
         padding: 2.5% $small-display-padding ;
    }

    .solarPowerWorksImg {
        margin: 18% 20px 18% 0;
    }

    .SolarPowerWorksHeader {
        font-size: 1.4vw;
    }
}

@include for-tablet-design {
    .SolarPowerWorksHeader {
        font-size: 1.8vw;
    }

    .solarWorksSectionWrapper {
        padding: 2.5%  $base-padding-tablet !important;;
        flex-direction: column-reverse;
        min-height: 1vh;
        padding: 0;
   }

   
    .solarPowerWorks {
        padding-right: 0;
    }

    .worksWeDoContainer {
        justify-content: center;
    }

    .solarPowerWorksImg {
        min-height: 50vh;
        margin: 8% 20px 8% 20px;
    }

  }
  

  @include for-mobile-design{

    .SolarPowerWorksHeader {
        font-size: 3vw;
    }

    .solarPowerWorksImg {
        min-height: 35vh;
        margin: 8% ;
    }

    .solarWorksSectionWrapper {
        padding: 2.5% $base-padding-mobile !important;
   }

   
  }

  @keyframes SolarWorksWeDoTransit{
    0% {
     
      transform: translateX(-100%);
    }
    100% {
       
      transform: translateX(0);
    }
  }