 
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@1,200&display=swap');
@import '../../variables';

.HomeFirstSectionWrapper {
    align-items: center;
    flex: 1;
    padding: 0 $base-padding;
    padding-bottom: 120px !important;
}

.AboutWrapper {
  min-height: 70vh !important ;
    position: relative;
    background-size: cover;
}

 

.contactsBtn {
    animation: 0.75s ease-out 0s 1 getBtn;
    font-family: 'Source Serif Pro', serif;
    padding: 5px 7px;
    border-radius: 10px;
    border: 1px solid #002b02;
    text-shadow: 1px 1px #000000;
    background-color:#3d7b00;  
    color: #fff;
    font-weight: bold;
    min-width: 200px;
    max-width: 200px;
    font-size: 1.2vw;
    cursor: pointer;
    justify-content: center;
    margin-top: 20px;
    &:hover {
        background-color:#428301;  
    }
}

 
.mainHeader{
  animation: 0.75s ease-out 0s 1 getText;
  margin: 0;
}
.mainSubHeader {
   animation: 0.75s ease-out 0s 1 getText;
   margin: 0;
}
.textAnimation{
  font-size: 2.3vw;
  font-weight: 100;
}
.HomeAboutText {
  justify-content: center;
  align-items: center;
  display: flex;
    flex-direction: column;
    font-family: 'Source Serif Pro', serif;
    color: #fff;
    font-size: 1.7vw;
    text-align: left;
    letter-spacing: 1px;
    text-shadow: 0.5px 0.5px #000000;
    padding: 1.5% 2% ;
    z-index: 99;
 
}

.aboutSectionSlider {  
    background-color: #ccc;
    background-size: cover;
    background-position: center center;
    min-height: 70vh;
}





  .AboutWrapper .slick-current {
     animation: zoomssr 6s ease-out 0s 1 forwards ;
  }
  
//ANIMATION
 
  
  .dimmer {
    background: linear-gradient(180deg, rgba(197, 211, 205, 0.88) 35%, rgba(255, 255, 255, 0.247) 65%);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; 
  }

  .SliderWrap {
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
 }


.AboutWrapper {
    min-height: 70vh;
    display: flex;
  
  

   
 
}



  @include forSmallDesktop {
    .HomeFirstSectionWrapper {
 
         padding: 0   $small-display-padding ;
    }
  
    .HomeAboutText,
    .textAnimation {
      font-size: 2vw;
    }
    .aboutSectionSlider, .AboutWrapper{ 
        min-height: 50vh ;
    }
  }
  
  @include for-tablet-design {
    .AboutWrapper {
 
        padding: 0  $base-padding-tablet;
        display: flex;
        justify-content: center;
   }

   .contactsBtn {
    font-size: 2.5;
   }
 
  }
  
  @include for-mobile-design {
    .dimmer {
        background-color: rgba(0, 0, 0, 0.1);
    }

    .contactsBtn {
        font-size: 3vw;
    }

    .HomeAboutText, 
    .textAnimation {
        font-size: 4vw;
    }

    .AboutWrapper  {
        padding: 0 $base-padding-mobile ;
    
        
    }
  
    .CompanyName,
    .navBarLinksWrapper > a {
      font-size: 3.5vw;
    }



    .aboutSectionSlider, .AboutWrapper { 
        min-height: 75vh ;
    }
}


@keyframes getBtn {
    0% {
      opacity: 0;
      transform: translateX(100%)
 
    }
    100% {
      opacity: 1;
      transform: none;
      
    }
  }

  @keyframes getText {
    0% {
      opacity: 0;
      transform: translateX(-100%)
 
    }
    100% {
      opacity: 1;
      transform: none;
      
    }
  }


  .PseudoEL {
    clip-path: polygon(100% 0, 0 0, 0 100%);
    height: 15vh;
    background-color: red;
  }