@import '../../variables';

.flex {
    display: flex;
}

.whiteSection {
    border-radius: 5px;
    min-height: 70vh;
    background-color: #fff;
    display: flex;
    padding: 0 10% 0 15%;
    text-align: left;
}





























 